extends ../../layout

block content
	div.front-banner
		img.img-responsive(src="/images/banner_news.jpg")
	div.body
		div.section
			div.container.ofh
				div.section-display-box
					div.item-list.item-3
						include ../../includes/side
					div.item-list.item-9.mt0
						div.detail-box
							ol.breadcrumb
								li
									a(href="/") 首页
								li
									a(href="/news") 最新资讯
								li #{news.title}
							div.detail-body
								h3.detail-title #{news.title}
								h5.detail-subtitle #{moment(news.meta.updateAt).format('YYYY-MM-DD HH:mm')} 来自#{news.author}
								div.detail-content!=news.content